@use "@app/styles/abstracts/mixins";
@use "@app/styles/abstracts/variables" as var;

.searchContainer {
  width: 100%;
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
}

.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 12px;
  gap: 12px;
  border-radius: 8px;
  background-color: #f9f8f6;
}

.searchIcon {
  width: 18px;
  height: 18px;
  color: #9ca3af;
}

.searchInput {
  width: 100%;
  height: 40px;
  background-color: transparent;
  @include mixins.apply-text-style(b1_regular);
  color: var.$primitive-secondary-brown500;
  outline: none;
  border: none;

  &::placeholder {
    @include mixins.apply-text-style(b1_regular);
    color: var.$primitive-secondary-brown500;
  }
}

.searchInput:focus {
  outline: none;
}

.searchInput::-webkit-search-decoration,
.searchInput::-webkit-search-cancel-button,
.searchInput::-webkit-search-results-button,
.searchInput::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.clearButton {
  position: absolute;
  right: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: right;
  background: none;
  border: none;
  cursor: pointer;
  color: #9ca3af;
  padding: 0.25rem;
}

.clearButton:hover {
  color: #4b5563;
}

.clearIcon {
  width: 1.25rem;
  height: 1.25rem;
}
