@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables" as var;

.followBtn__small {
	&__followinner, 
	&__unfollowinner {
		display: flex;
		align-items: center;
		padding: 4px 8px;
		border-radius: 8px;
		width: 75px;
		height: 32px;
		// margin-top: -4px;
		// margin-bottom: 20px;
	}

	&__followinner {
		background-color: var.$primitive-primary-orange50;
		.followBtn__followtext {
			color: var.$semantic-text-icon-brand;;
			@include mixins.apply-text-style(b2_bold);
		}
		.followBtn__followimage {
			margin-right: 4px;
			width: 16px;
			height: 16px;
		}
	}

	&__unfollowinner {
		border: 1px solid var.$semantic-border-secondary;
		background-color: var.$semantic-background-primary;


		.followBtn__unfollowtext {
			@include mixins.apply-text-style(b2_bold);
			color: var.$semantic-text-icon-primary;
		}
	
		.followBtn__unfollowimage {
			margin-right: 4px;
			width: 16px;
			height: 16px;
		}
	}
}




.followBtn__large {
	&__followinner, 
	&__unfollowinner {
		display: flex;
		align-items: center;
		padding: 16px;
		border-radius: 8px;
		width: 343px;
		height: 40px;
		margin-top: -4px;
		margin-bottom: 20px;
	}

	&__followinner {
		background-color: var.$semantic-background-button-default;

		.followBtn__followtext {
			@include mixins.apply-text-style(b1_bold);
			color: var.$semantic-text-icon-button-default;
		}
		.followBtn__followimage {
				margin-right: 8px;
		}
	}

	&__unfollowinner {
		border: 1px solid var.$semantic-border-secondary;
		background-color: var.$semantic-background-primary;

		.followBtn__unfollowtext {
			@include mixins.apply-text-style(b1_bold);
			color: var.$semantic-text-icon-primary;
		}
	
		.followBtn__unfollowimage {
			margin-right: 8px;
		}
	}
}
