.MyPageEdit {
    position: relative;
    min-height: 90vh; // 헤더 높이 + 아래쪽 여백 확보보
    display: flex;
    flex-direction: column;
  
    // ProfileForm과 PhotoEdit를 포함하는 상단 콘텐츠
    > :not(:last-child) {
      flex: 1 0 auto;
    }
  
    // ProfileBtnWrap을 하단에 고정
    > :last-child {
      flex-shrink: 0;
    }
  }
  